<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>MovieIMAX</title>
    <link rel="stylesheet" href="../../../Css/movie/main.css">
    <link rel="stylesheet" href="../../../Css/movie/movieIMAX.css">
</head>
<body>
    <div class="container">
        <nav class="nav flex-row">
            <ul class="d-flex flex-wrap justify-content-between align-items-center">
                <li><span class="title">PHIM</span></li>
                <li class="nav-item"><a class="nav-link" href="../movie/movieNow.html">Đang chiếu</a></li>
                <li class="nav-item"><a class="nav-link" href="../movie/movieComing.html">Sắp chiếu</a></li>
                <li class="nav-item"><a class="nav-link" href="../movie/movieIMAX.html">Phim IMAX</a></li>
                <li class="nav-item"><button type="submit" class="submit-btn">
                    <i class="fas fa-crosshairs"></i>Toàn quốc
                </button></li>
            </ul>
        </nav>
    </div>

    <div class="container MoviesNow">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <img src="../../../Assets/Images/movie/movieIMAX/joker-folie-duex-500_1725002156768.jpg" class="card-img-top" alt="...">
                    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                    <button type = "button" class="btn btn-lg">
                        <a href="#"><img width="112" height="36" src="https://www.galaxycine.vn/_next/static/media/btn-ticket.42d72c96.webp"></a>
                    </button>
                    <button class="trailer-button btn-lg">
                        <i class="fas fa-play-circle"></i>Trailer
                    </button>
                    </div>
                </div>
                <li class="title-item"><a class="title-link" href="#">Joker: Folie À Deux</a></li>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <img src="../../../Assets/Images/movie/movieIMAX/venom-last-dance-500_1728292776990.jpg" class="card-img-top" alt="...">
                    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                        <button type = "button" class="btn btn-lg">
                            <a href="#"><img width="112" height="36" src="https://www.galaxycine.vn/_next/static/media/btn-ticket.42d72c96.webp"></a>
                        </button>
                        <button class="trailer-button btn-lg">
                            <i class="fas fa-play-circle"></i>Trailer
                        </button>
                    </div>
                </div>
                <li class="title-item"><a class="title-link" href="#">Venom: The Last Dance</a></li>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <img src="../../../Assets/Images/movie/movieIMAX/kraven-500_1724918593694.jpg" class="card-img-top" alt="...">
                    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                        <button type = "button" class="btn btn-lg">
                            <a href="#"><img width="112" height="36" src="https://www.galaxycine.vn/_next/static/media/btn-ticket.42d72c96.webp"></a>
                        </button>
                        <button class="trailer-button btn-lg">
                            <i class="fas fa-play-circle"></i>Trailer
                        </button>
                    </div>
                </div>
                <li class="title-item"><a class="title-link" href="#">Kraven The Hunter</a></li>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <img src="../../../Assets/Images/movie/movieIMAX/chua-te-nhung-chiec-nhan-noi-chien-cua-rohirrim_1727146765628 (1).jpg" class="card-img-top" alt="...">
                    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                        <button type = "button" class="btn btn-lg">
                            <a href="#"><img width="112" height="36" src="https://www.galaxycine.vn/_next/static/media/btn-ticket.42d72c96.webp"></a>
                        </button>
                        <button class="trailer-button btn-lg">
                            <i class="fas fa-play-circle"></i>Trailer
                        </button>
                    </div>
                </div>
                <li class="title-item"><a class="title-link" href="#">Chúa Tể Của Những Chiếc Nhẫn: Cuộc Nội Chiến Của Rohirrim</a></li>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <img src="../../../Assets/Images/movie/movieIMAX/captain-america-brave-new-world-500_1721030812439.jpg" class="card-img-top" alt="...">
                    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                        <button type = "button" class="btn btn-lg">
                            <a href="#"><img width="112" height="36" src="https://www.galaxycine.vn/_next/static/media/btn-ticket.42d72c96.webp"></a>
                        </button>
                        <button class="trailer-button btn-lg">
                            <i class="fas fa-play-circle"></i>Trailer
                        </button>
                    </div>
                </div>
                <li class="title-item"><a class="title-link" href="#">Captain America: Trật Tự Thế Giới Mới</a></li>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <img src="../../../Assets/Images/movie/movieIMAX/minecraft-500_1725866141382.jpg" class="card-img-top" alt="...">
                    <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">
                        <button type = "button" class="btn btn-lg">
                            <a href="#"><img width="112" height="36" src="https://www.galaxycine.vn/_next/static/media/btn-ticket.42d72c96.webp"></a>
                        </button>
                        <button class="trailer-button btn-lg">
                            <i class="fas fa-play-circle"></i>Trailer
                        </button>
                    </div>
                </div>
                <li class="title-item"><a class="title-link" href="#">A Minecraft Movie</a></li>
            </div>
        </div>
    </div>


    <div class="container MoviesNow-content">
        <nav class="nav flex-row">
            <ul class="d-flex flex-wrap justify-content-between align-items-center">
                <li><span class="title-movieNow">PHIM IMAX</span></li>
                <p class="contentt">Phim IMAX là phim điện ảnh thông thường, được xuất file định dạng IMAX, với thông số kỹ thuật phù hợp với máy chiếu IMAX Laser, cho kết quả hình ảnh và âm thanh chân thật nhất. Định dạng IMAX là một dạng phim được trình chiếu trên màn hình khổng lồ, tỉ lệ khung hình thông thường 1.43:1 chiếu trên màn hình. Phim với định dạng IMAX hiện đang được khán giả yêu phim đánh giá là cho trải nghiệm nghe nhìn tốt nhất, cực kỳ sống động so với tất cả công nghệ chiếu phim hiện đại khác.</p>
                <p>Phòng chiếu IMAX Laser mang đến hình ảnh hiển thị với độ phân giải lớn hơn nhiều so với phim thông thường (70mm so với 35mm), vì vậy, trải nghiệm điện ảnh với IMAX Laser cực kỳ phù hợp với các siêu bom tấn thuộc thể khoa học viễn tưởng, hành động như: Avengers: Endgame của anh em đạo diễn Joe Russo và Anthony Russo, Avatar: The Way of Water của Jame Cameron, Oppenheimer của Christopher Nolan, và nhiều siêu phẩm khác….</p>
                <div>
                    <p class="p_contentt">Lịch sử của
                        <a class="link" href="#"> Phim IMAX</a> và Cách Mà Nó Đã Thay Đổi Ngành Công Nghiệp Điện Ảnh
                    </p>
                    <p>Ra mắt 05.1971, công nghệ IMAX đã có lịch sử hơn 50 năm nghiên cứu và phát triển, rạp phim IMAX đi vào hoạt động tại Canada. Nhờ chất lượng hình ảnh rõ nét số 1, IMAX đem lại khung hình sống động như thật với độ tương phản vượt trội.</p>
                    <p>Nhìn lại lịch sử IMAX, tuy hãy còn ngắn ngủi nhưng phim IMAX đã trở thành thứ mà mọt phim khó thể bỏ qua. Định dạng phim IMAX hiện nay đang được khán giả yêu điện ảnh ưa chuộng nhất và bàn tán nhiều nhất mỗi khi có phim bom tấn với định dạng IMAX được công chiếu, tỉ lệ lấp đầy phòng chiếu IMAX luôn chiếm 50%.</p>
                </div>
                <div>
                    <p class="p_contentt">
                        <a class="link" href="#">Rạp IMAX là gì?</a> Khám Phá Công Nghệ Đằng Sau Màn Hình Lớn
                    </p>
                    <p>IMAX - Image MAXimium là hệ thống phòng chiếu được đánh giá tối tân hiện nay, đem lại trải nghiệm hoàn hảo về mặt hình ảnh, giúp khán giả có cảm giác hòa làm một với tác phẩm trình chiếu trên màn hình. Điểm nổi bật và đặc biệt đầu tiên của phòng chiếu IMAX là kích thước màn hình, màn chiếu của phim IMAX phải lớn hơn rất nhiều so với các màn chiếu thông thường.</p>
                    <p>Kích thước màn hình IMAX lớn nhất, trước đây, có thể lên đến 29m chiều cao và 35m chiều rộng, được ghi nhận tại 1 rạp phim tại Sidney, Úc. Đối với các phim IMAX 3D, khán giả phải dùng kính 3D loại lớn bao trùm nửa mặt để có thể cảm nhận trọn vẹn hiệu ứng nổi từng chi tiết của hình ảnh.  Hiện tại, kích thước màn hình IMAX lớn nhất được ghi nhận cho cụm rạp Traumpalast Leonberg, Đức với kỷ lục kích thước màn hình rộng 38.8m, cao 21m, tổng diện tích lên đến 814.2m2.</p>
                    <p>Mang đến hiệu ứng nghe nhìn vượt trội so với các công nghệ chiếu phim khác, định dạng IMAX đã góp phần lớn vào doanh thu của các siêu bom tấn như loạt phim siêu anh hùng nhà Marvel: Avengers: Infinity War, Avengers: Endgame; Avatar: The Way of Water; loạt phim Star Wars.. mới đây nhất là Oppenheimer,….</p> 
                    <p>Đặc biệt, trong những năm gần đây, thay vì hệ thống IMAX dùng đèn Xenon, IMAX tiến thêm một bước dài với công nghệ IMAX Laser. Đây chắc chắn là đột phá ấn tượng hàng đầu suốt chiều dài nửa thế kỉ phát triển của IMAX.</p>
                    <p>Máy chiếu IMAX Laser sáng hơn 60% so với máy chiếu thông thường, thể hiện đa màu đa sắc hơn, đem tới độ tương phản tốt nhất từ trước đến nay. Các lợi thế này giúp hình ảnh chi tiết, rõ ràng và đạt mức chân thật tối đa. Công nghệ IMAX Laser đưa khán giả khám phá sắc màu chân thực chưa từng có trên màn ảnh rộng, mở ra chân trời mới trong thưởng thức điện ảnh. Ngoài ra, ánh sáng của đèn Laser sáng hơn nhiều so với đèn Xenon, chẳng những tối ưu các trải nghiệm điện ảnh 2D mà còn nâng tầm khi xem phim 3D.</p>
                    <p>Trải nghiệm tại rạp IMAX Laser được đánh giá là trải nghiệm điện ảnh tốt nhất hiện nay.</p>
                </div>
                <div>
                    <p class="p_contentt">
                        <a class="link" href="#">Bảng Giá Vé IMAX:</a> Tất Cả Những Gì Bạn Cần Biết
                    </p>
                    <p class="p_content">Giá vé rạp IMAX được Galaxy Sala tính toán kĩ lưỡng để mang lại lợi ích tối đa cho người dùng. Với chi phí phù hợp nhất để trải nghiệm rạp IMAX. Quý khách có thể tra cứu thông tin giá vé IMAX tại
                        <a class="link" href="#"> ĐÂY.</a>
                    </p> 
                </div>
            </ul>
        </nav>
    </div>

    <script src = "../../../Js/movie/js.js"></script>



</body>
</html>