@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body{
    font-family:"Nunito Sans", sans-serif;
}
.title {
    position: relative;
    font-weight: bold;
}
.title::before {
    content: '';
    position: absolute;
    left: 0px; 
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 45%;
    background-color: #034EA2;
}
@media (max-width: 768px) {
.nav-link, nav li .submit-btn {
    font-size: 12px;
    }
    }
    
@media (max-width: 480px) {
    .title {
        display: none;
    }
    .nav-link, nav li .submit-btn {
        font-size: 12px;
    }
}



