<!DOCTYPE html>

<html>

<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../../Css/bookingTicket/bookingTicket.css">
  <link rel="stylesheet" href="../../../Css/bookingTicket/boostrap.css">
  <link rel="stylesheet" href="../../../nav.css">
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $("#header").load("/nav.html");
    })
  </script>

</head>

<body class="custom-bg-basic">
  <div id="header"></div>
  <div class="Progress-container container-fluid row bg-white">
    <div class="Progress-container__spacing col-xs-0 col-sm-2 col-lg-2 col-md-1 col-xl-3" style="height: 2px;"></div>
    <div class="Progress-container__progress-element bg-white col-xs-12 col-sm-8 col-md-10 col-lg-8 col-xl-6 mt-1 pb-3">
      <div class="Progress-container__progress-buttons d-flex justify-content-between mb-3 mt-3">
        <button
          class="Progress-container__progress-button btn btn-link button-link-unstyled step-btn custom-text-progress"
          data-step="1">Chọn phim
          / Rạp / Suất</button>
        <button
          class="Progress-container__progress-button btn btn-link button-link-unstyled step-btn custom-text-progress"
          data-step="2">Chọn
          ghế</button>
        <button
          class="Progress-container__progress-button btn btn-link button-link-unstyled step-btn custom-text-progress"
          data-step="3">Chọn thức
          ăn</button>
        <button
          class="Progress-container__progress-button btn btn-link button-link-unstyled step-btn custom-text-progress"
          data-step="5">Thanh
          toán</button>
        <button
          class="Progress-container__progress-button btn btn-link button-link-unstyled step-btn custom-text-progress"
          data-step="5">Xác
          nhận</button>
      </div>
      <div class="Progress-container__progress-bar-container progress" style="height: 4px;">
        <div id="progress-bar" class="Progress-container__progress-bar progress-bar custom-bg-progress"
          role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </div>
    <div class="Progress-container__spacing col-xs-12 col-sm-2 col-lg-2 col-md-1 col-xl-3" style="height: 2px;"></div>
  </div>


  <div class="Step-first container-xl">
    <div class="row">
      <div class="col-xl-8 order-xl-1 order-2">
        <div class="mb-4 shadow-sm rounded">
          <div class="accordion" id="selectLocationAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="selectLocationHeading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#selectLocation" aria-expanded="true" aria-controls="selectLocation">
                  Chọn vị trí
                </button>
              </h2>
              <div id="selectLocation" class="accordion-collapse collapse show" aria-labelledby="selectLocationHeading"
                data-bs-parent="#selectLocationAccordion">
                <div class="accordion-body">
                  <div class="d-flex flex-wrap gap-2">
                    <button class="btn btn-outline-secondary">TP Hồ Chí Minh</button>
                    <button class="btn btn-outline-secondary">Hà Nội</button>
                    <button class="btn btn-outline-secondary">Đà Nẵng</button>
                    <button class="btn btn-outline-secondary">An Giang</button>
                    <button class="btn btn-outline-secondary">Bà Rịa - Vũng Tàu</button>
                    <button class="btn btn-outline-secondary">Bến Tre</button>
                    <button class="btn btn-outline-secondary">Cà Mau</button>
                    <button class="btn btn-outline-secondary">Đắk Lắk</button>
                    <button class="btn btn-outline-secondary">Hải Phòng</button>
                    <button class="btn btn-outline-secondary">Khánh Hòa</button>
                    <button class="btn btn-outline-secondary">Nghệ An</button>
                    <button class="btn btn-outline-secondary">Thừa Thiên Huế</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-4 shadow-sm rounded">
          <div class="accordion" id="selectMovieAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="selectMovieHeading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#selectMovie" aria-expanded="false" aria-controls="selectMovie">
                  Chọn phim
                </button>
              </h2>
              <div id="selectMovie" class="accordion-collapse collapse" aria-labelledby="selectMovieHeading"
                data-bs-parent="#selectMovieAccordion">
                <div class="accordion-body"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-4 shadow-sm rounded">
          <div class="accordion" id="selectSessionAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="selectSessionHeading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#selectSession" aria-expanded="false" aria-controls="selectSession">
                  Chọn suất
                </button>
              </h2>
              <div id="selectSession" class="accordion-collapse collapse" aria-labelledby="selectSessionHeading"
                data-bs-parent="#selectSessionAccordion">
                <div class="accordion-body"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 order-xl-2 order-1 py-4">
        <div class="booking-summary mb-4">
          <div class="progress-bar bg-primary" style="height: 6px;"></div>
          <div class="bg-white p-4 d-grid grid-template-columns-3 gap-2 align-items-center">
            <div class="d-block d-md-none">
              <img alt="" class="img-fluid rounded"
                src="https://www.galaxycine.vn/_next/static/media/img-blank.bb695736.svg">
            </div>
            <div class="d-none d-md-block">
              <img alt="" class="img-fluid rounded"
                src="https://www.galaxycine.vn/_next/static/media/img-blank.bb695736.svg">
            </div>
            <div class="flex-grow-1">
              <h3 class="text-sm font-bold mb-2"></h3>
              <p class="text-sm d-inline-block"></p>
              <span> - </span>
            </div>
            <div class="w-100">
              <div class="border-top border-secondary border-dashed my-4"></div>
            </div>
            <div class="d-none d-xl-flex justify-content-between w-100">
              <strong class="text-base">Tổng cộng</strong>
              <span class="font-bold text-primary">0&nbsp;₫</span>
            </div>
          </div>

          <div class="d-none d-xl-flex justify-content-between mt-4">
            <button class="btn btn-outline-primary w-50 me-2">Quay lại</button>
            <button class="btn btn-primary w-50 ms-2" disabled>Tiếp tục</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script type="module" src="../../../Js/bookingTicket/bookingTicket.js"></script>
</body>
<script src="../../../Components/Navigation.js"></script>

</html>